<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.diegohdez.githubapijava">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GithubApi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCustom">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GetTokenActivity"
            android:label="Please provide credentails" />
        <activity
            android:name=".Activity.ReposActivity"
            android:label="Repos Account"
            android:theme="@style/AppThemeCustom.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ReposDetailActivity"
            android:label="Repository Details"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.CommitsActivity"
            android:label="Commits"
            android:screenOrientation="portrait"/>
    </application>

</manifest>